<!doctype html>

<html>
  <head>
    <title>{{title}}</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/app.css" rel="stylesheet">
  </head>

  <body class="root">
    {{{body}}}
  </body>
</html>
